*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 1.6rem;
}
